.header {
  padding-top: 70px; /* Add a padding value to push the h1 tag below the navbar */
}
body {
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  color: red;
}
.logo {
  font-family: Arial, sans-serif;
  font-size: 24px;
  width: 75px;
  font-weight: bold;
  color: #333;
}
.container {
  position: fixed;
  margin-top: 0px;
  margin-bottom: 0px;
  top: 0px;
  width: 1349px;
  left: 0px;
}
.navbar {
  height: 60px;
  background-color: white;
}
.navbar-nav {
  display: flex;
  justify-content: space-between; /* Adjusted spacing for list items */
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 20px;
  align-content: center;
  align-items: center;
}

.navbar-nav li {
  margin-right: 20px; /* Adjusted spacing between list items */
  list-style-type: none; /* Remove default bullet points */
}

.navbar-nav li a {
  text-decoration: none; /* Remove default underline */
  color: black; /* Set text color to black */
  position: relative; /* Add position relative for pseudo-element */
  transition: color 0.3s ease; /* Add transition effect for color change */
}

.navbar-nav li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust the position of the underline */
  width: 100%;
  height: 2px;
  background-color: orange; /* Set the color of the underline */
  transform: scaleX(0); /* Initial scale of the underline */
  transition: transform 0.3s ease; /* Add transition effect for underline */
}

.navbar-nav li a:hover {
  color: black; /* Set text color to black on hover */
}

.navbar-nav li a:hover:before {
  transform: scaleX(1); /* Expand the underline on hover */
}
.btn-cloud9 {
  background-color: #f26624; /* Set background color to orange */
  color: white; /* Set text color to white */
  transition: transform 0.3s ease; /* Add transition effect for transform */
  /* width: 13.329em; */
}

.btn-cloud9:hover {
  transform: translateY(2px); /* Move the button down slightly on hover */
}

.btn-enquiry {
  background-color: #06659b; /* Set background color to dark navy blue */
  color: white; /* Set text color to white */
  transition: transform 0.3s ease; /* Add transition effect for transform */
}

.btn-enquiry:hover {
  transform: translateY(2px); /* Move the button down slightly on hover */
}
.form-inline {
  display: flex;
  justify-content: center; /* Align buttons horizontally at the center */
  gap: 20px; /* Add space of 10px between the buttons */
  margin: auto;
}
.swiper-container {
  position: relative;
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #000;
  opacity: 0.5;
  border-radius: 50%;
  display: inline-block;
  margin: 0 6px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: orange;
  opacity: 1;
}
.text-container {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.inner-text-container {
  position: relative;
  min-height: 1px;
  display: flex;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-text-class {
  padding: 80px 0px 40px 0px;
}
.longtext-class {
  text-align: center;
  color: var(--e-global-color-b1c7914);
  font-family: "Source Sans Pro", Sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-transform: initial;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform var(--e-transform-transition-duration, 0.4s);
  box-sizing: border-box;
  max-width: 700px;
}
.inner-text-container h2 {
  color: var(--e-global-color-e69a1f7);
  font-family: "Poppins", Sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 46px;
}
.section-image {
  width: 100%;
}
.source-container {
  max-width: 1140px;
}
.main-container {
  width: 50%;
}
.one-container {
  align-content: flex-end;
  align-items: flex-end;
}
.one-image {
  width: 100%;
}
.one-image-class {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform var(--e-transform-transition-duration, 0.4s);
}
.one-image-class-2{
  display: flow-root;
    max-width: 500px;
    line-height: 25px;
}
.one-image-class-1{
  display: flex;
}
.elementor-image-box-img{
  margin: null;
}
figure{
  width: 20%;
}
.para-class{
  color: var(--e-global-color-b1c7914 );
    font-family: "Source Sans Pro", Sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-transform: initial;
}
.text-class{
  margin-bottom: 5px;
    color: var(--e-global-color-b1c7914 );
    font-family: "Poppins", Sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
}
.source-container-0{
  text-align: left;
  align-items: center;
}
.main-source-container{
  max-width: 1140px; 
  background-color: white; 
  display: flex;
  flex-direction: row;
}